#players {
	display: flex; justify-content: space-around; width: 100%; height: 150px; box-shadow: 3px 3px 5px 6px #ccc;
}

.player { width: 40%; text-align: center; }

.container-life { height: 25px; border: 1px solid black; }

.life { height: 25px; }

#container-buttons {
	display: flex; align-items: center; justify-content: center; width: 100%; height: 70px; box-shadow: 3px 3px 5px 6px #ccc;
}

#result {
	display: flex; align-items: center; justify-content: center; width: 100%; height: 70px; box-shadow: 3px 3px 5px 6px #ccc;
}

.button { height: 30px; color: white; }

.red { background-color: red; }

.orange { background-color: orange; }

.green { background-color: green; }

.grey { background-color: grey; }

.blue { background-color: #0984e3; }

.distance-buttons { margin-right: 20px; }

#actions { padding: 5px; width: 99.2%; min-height: 70px; box-shadow: 3px 3px 5px 6px #ccc; }

.hero { background-color: #6c5ce7; text-align: center; color: white; width: 100%; height: 25px; }

.villain { background-color: #ff7675; text-align: center; color: white; width: 100%; height: 25px; }

.mt-5 { padding-top: 5px; }